@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

@keyframes floatDown {
  from {
    transform: translateY(-3%);
  }
  to {
    transform: translateY(0);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: rgb(115, 83, 58);
  font-family: "Raleway", sans-serif;
  user-select: none;
}

.metronome {
  animation: floatDown 2s ease-out forwards;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 2px;
  padding: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  justify-content: space-between;

  .bpm-display {
    text-align: center;
    font-weight: bold;
    color: rgb(115, 83, 58);

    .tempo {
      font-size: 6em;
      margin-right: 10px;
    }
  }

  .tempo-speed-text {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  .tempo-settings {
    display: flex;
    justify-content: space-between;

    .tempo-adjust {
      cursor: pointer;
      text-align: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgb(115, 83, 58);
      font-size: 20px;
    }

    .decrease { line-height: 28px; }
    .increase { line-height: 25px; }
  }

  .tempo-settings .tempo-adjust:hover, .measures .measure-adjust:hover {
    background: rgb(115, 83, 58);
    color: rgb(235, 235, 207);
  }

  .start-stop-btn {
    width: 60px;
    height: 45px;
    line-height: 45px;
    margin: 10px auto;
    border-radius: 1.3rem;
    text-align: center;
    font-size: 14px;
    background: rgb(115, 83, 58);
    color: rgb(235, 235, 207);
    cursor: pointer;

    &:hover { background: rgb(84, 60, 49); }
  }

  .measures {
    display: flex;
    justify-content: center;
    gap: 5px;

    .measure-adjust {
      cursor: pointer;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px;
      text-align: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      margin: 0 5px;
    }
    
    .increase { line-height: 17px; }
  }

  .bpm-text {
    margin-top: 10px;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;
  }
}

/* Web Browser styles */
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 70%;

  &::-webkit-slider-thumb { -webkit-appearance: none; }
  &:focus { outline: none; }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(115, 83, 58);
    cursor: pointer;
    margin-top: -8px;
  }
  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(115, 83, 58);
    cursor: pointer;
    border: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: rgba(115, 83, 58, 0.232);
  }
  &::-moz-range-track {
    width: 100%;
    height: 1px;
    background: rgba(115, 83, 58, 0.232);
  }
}
